<div class="bg-landing">
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <h1>
    <a href="<%= movies_path %>" class="listing-link">Take me to the Movie Listing</a>
  </h1>

</div>
